[sources.stdin]
type = "stdin"

[transforms.payload]
type = "remap"
inputs = ["stdin"]
drop_on_error = true
source = '''
.timestamp = now()
'''

[sinks.postgres]
type = "postgres"
inputs = ["payload"]
endpoint = "postgres://dev@postgres:5432/appdb"
table = "logs"

